#game {
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 20px;
  border: 10px double #000000;
  background-color: #87ceeb;
}

#additionals {
  width: 400px;
  display: flex;
  flex-direction: row;
}

#move-count {
  width: 200px;
  text-align: right;
}

#move-content {
  text-align: right;
}

/* #reset-button {
  position: absolute;
  right: 0; 
  align-self: flex-end;
} */

#button-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 200px;
  align-content: flex-end;
}

.rcorner1 {
  border-radius: 10px;
}

.game-square {
  box-sizing: border-box;
  border: 3px outset #CCCCCC;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 20px;
  box-shadow: 5px 5px 5px #111111;
}

.game-square > div {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  transition: 400ms; /* <- add transition */
}

.game-square > div > div {
  height: 50%;
}

.game-square > div > div:first-child {
  background-color: darkgray;
}

.flip > div {
  top: -100%;
}

/* following copy-pasted directly */
.square-0 {
  background-color: aqua;
  /* background-image: url("https://i.imgur.com/tyfOsnU.png"); */
  background-image: url("../images/coat-transparent-1.png");
}

.square-1 {
  background-color: bisque;
  /* background-image: url("https://i.imgur.com/hGZ4iCk.png"); */
  background-image: url("../images/coat-transparent-2.png");
}

.square-2 {
  background-color: blue;
  /* background-image: url("https://i.imgur.com/ZrAHpux.png"); */
  background-image: url("../images/coat-transparent-3.png");
}

.square-3 {
  background-color: blueviolet;
  /* background-image: url("https://i.imgur.com/wBq5VP2.png"); */
  background-image: url("../images/coat-transparent-4.png");
}

.square-4 {
  background-color: brown;
  /* background-image: url("https://i.imgur.com/LuSiUA1.png"); */
  background-image: url("../images/coat-transparent-5.png");
}

.square-5 {
  background-color: cadetblue;
  /* background-image: url("https://i.imgur.com/2yrMdXn.png"); */
  background-image: url("../images/coat-transparent-6.png");
}

.square-6 {
  background-color: chartreuse;
  /* background-image: url("https://i.imgur.com/slrbrYe.png"); */
  background-image: url("../images/coat-transparent-7.png");
}

.square-7 {
  background-color: chocolate;
  /* background-image: url("https://i.imgur.com/U4fF6xD.png"); */
  background-image: url("../images/coat-transparent-8.png");
}

.square-8 {
  background-color: coral;
  /* background-image: url("https://i.imgur.com/lrMJG4M.png"); */
  background-image: url("../images/coat-transparent-9.png");
}

.square-9 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-10.png");
}

.square-10 {
  background-color: co;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-11.png");
}

.square-11 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-12.png");
}

.square-12 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-13.png");
}

.square-13 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-14.png");
}

.square-14 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-15.png");
}

.square-15 {
  background-color: cornflowerblue;
  /* background-image: url(""); */
  background-image: url("../images/coat-transparent-16.png");
}
